<div style="margin-bottom: 40px;">
  <h2>Resumen Ejecutivo</h2>
  <table style="width: 60%; margin: auto;">
    <tr style="background-color: #004C99; color: white;">
      <th>Alta</th>
      <th>Media</th>
      <th>Baja</th>
      <th>Info</th>
      <th>Total</th>
    </tr>
    <tr style="text-align: center;">
      <td>{{ summary.alta }}</td>
      <td>{{ summary.media }}</td>
      <td>{{ summary.baja }}</td>
      <td>{{ summary.info }}</td>
      <td>{{ summary.total }}</td>
    </tr>
  </table>
</div>
